<h1>Stupid coaching</h1>
<div class="discuss">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="discuss" id="coach">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
